/* Style choices:
	Hex Colors
		darkest blue option 1: #273841
		darkest blue option 2: #384F5C
		dark blue: #3F5967
		light blue: #4E6F81
		lightest blue: #7C9DB1
		extra light: #DCE3EA; (used for hr)
 	Fonts
	 	Nixie One
	 	Lato: 300, 400, 700
 */





/* Base Font Styles */
html {
	font-size: 16px;
	font-family: Lato;
	font-weight: 400;
	color: #384F5C;
}

h1 {
	color: white;
	font-family: "Nixie One";
	font-size: 3.126em;
	padding-bottom: 1.5rem;
}

h2 {
	font-family: "Nixie One";
	font-size: 2.5rem;
	padding: 1.5rem 0 1.5rem;
}

h3 {
	font-weight: 300;
	font-size: 1.75rem;
	padding-bottom: 1.5rem;
}

h4 {
	font-weight: 300;
	line-height: 1.5rem;
	font-size: 1.25rem;
	padding-top: 0.5rem;
}

p {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: black;	
}

@media only screen and (max-width:1200px) {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}	
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1rem;
		line-height: 1rem;
	}
}

@media only screen and (max-width:900px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}	
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 1rem;
		line-height: 1rem;
	}
}

@media only screen and (max-width:650px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.75rem;
	}	
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1rem;
		line-height: 1rem;
	}
}

/* Content styling */












/* Header - Logo & Menu Nav */
header {
	height: 64px;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;
}

.desktop-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.75rem;
}

.logo {
	padding-left: 1.5em;
	display: flex;
	align-items: center;
}

.logo span {
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-left: 0.2em;
	color: black;
}

.logo strong {
	font-weight: 700;
}

nav a:hover {
	color: #4E6F81;
	transition: color 200ms ease-in;
}

header nav {
	padding-right: 1.5em;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 400;
}

nav span {
	padding: 1em 0.5em;
}

@media only screen and (max-width:750px) {
	.desktop-menu {
		display: none;
	}
	.mobile-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding-top: 1em;
	}
}

@media only screen and (min-width:750px) {
	.mobile-menu {
		display: none;
	}
}










/* Hero Section */
.hero {
	padding-top: 4em;
	background-color: #3F5967;
	display: flex;
	align-items: center;
}

.hero img {
	width: 60%;
	padding: 2rem 1.5rem;
}

.hero-copy {
	width: 30%;
	display: flex;
	flex-direction: column;
	color: white;
}

.btn {
	/*max-width: 100%;*/
	background-color: #7C9DB1;
	padding: 0.75rem;
	font-size: 1.25rem;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

.btn:hover {
	background-color: #273841;
	transition: background-color 200ms ease-out;
}


@media only screen and (max-width: 750px) {
	.hero {
		display: block;
		width: 100%;
		padding-bottom: 1.5em;
	}
	.hero img {
		width: 100%;
		box-sizing: border-box;
		padding-bottom: 0;
		/*padding: 0;*/
	}
	.hero-copy {
		width: 100%;
		box-sizing: border-box;
		padding: 1rem 2rem;
	}
	.btn {
		width: 100%;
		box-sizing: border-box;
		padding: 1rem 2rem;
	}
}












/* Information & Thesis Panels */
.info, .thesis {
	display: flex;
	justify-content: space-between;
}

.primary img {
	max-width: 100%;
}

.primary {
	width: 60%;
	padding: 1.5rem 0 0 1.5rem;
}

.primary .student {
	color: #4E6F81;
	font-size: 1rem;
	font-weight: 700;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
}

.secondary {
	width: 35%;
	display: flex;
	flex-direction: column;
}

.secondary-item {
	display: flex;
	align-items: center;
}

.secondary-item:hover {
	background-color: #4E6F81; 
	color: white;
	transition: all 400ms ease-out;
}

.secondary img {
	width: 35%;
	height: 35%;
	padding: 1.5rem;
}

.secondary-copy {
	padding: 1rem 1rem;
}

.secondary h3 {
	font-weight: 400;
}

.read-more {
	text-transform: uppercase;
	padding-top: 1.5rem;
	letter-spacing: .025em;
}

@media only screen and (min-width:650px) {
	.mobile-image {
		display: none;
	}
}

@media only screen and (max-width:650px) {
	.non-mobile-image {
		display: none;
	}
}

@media only screen and (min-width:650px) and (max-width:1000px) {
	.primary, .secondary {
		width: 50%;
	}
}

@media only screen and (max-width:650px) {
	.info .primary {
		display: none;
	}
	.info, .secondary {
		width: 100%;
	}
	.thesis .primary {
		width: 100%;
		padding: 0;
	}
	.thesis .secondary {
		display: none;
	}
	.primary-copy {
		padding: 0 1.5rem;
	}
	.secondary-item {
		display: block;
		width: 100%;
	}
	.secondary img {
		width: 100%;
		padding: 1em;
		box-sizing: border-box;
	}
}













/* Courses Panel */

.courses {
	background-color: #3F5967;
	text-align: center;
	color: white;
	padding: 1.5rem 4.5rem 3rem;
}

.courses-row1, .courses-row2 {
	display: flex;
	text-align: left;
	justify-content: center;
}

.course {
	width: 30%;
	margin: 1rem;
	background-color: white;
	color: #384F5C;
}

.course:hover {
	transition: all 400ms ease-out;
	transform: scale(1.025);
	box-shadow: 0 0 0.75em 0.25em rgba(0,0,0,0.2);
}

.course img {
	width: 100%;
}

.course-copy {
	margin: 1.5rem 2.5rem;
}

.course-copy h3 {
	font-family: "Nixie One";
}

.course-copy span {
	font-weight: 400;
}

@media only screen and (max-width:650px) {
	.course img, .course-description, .course span {
		display: none;
	}
	.courses-row1, .courses-row2 {
		display: block;
	}
	.course {
		width: 100%;
		margin: 1rem 0;
	}
	.course h3 {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.course-copy h3 {
		font-family: Lato;
		text-transform: uppercase;

	}
	.course:hover {
		/*background-color: #DCE3EA;*/
		/*color: white;*/
		transform: scale(1);
		box-shadow: none;
	}

	.course-copy h3:hover {
		font-weight: bold;
	}
}













/* Footer - Copyright & Privacy Links */
footer {
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	border-top: 0.025rem #DCE3EA solid;
	margin-top: 2rem;
}

.footer-links {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 400;
}

.footer-links span {
	padding: 1em 0.5em;
}

.footer-links span:hover {
	color: #4E6F81;
	transition: color 200ms ease-in;
}

@media only screen and (max-width:650px) {
	.footer-links, .copyright {
		font-size: 0.75rem;
	}
}